.container-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    position: relative;
}

.container-home .welcome{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-home .login{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 4rem;
    background: #FFF;
    box-shadow: -6px 0px 20px -3px rgba(255,255,255,0.5);
}

.container-home .login p,
.container-home .login p a{
    margin-top: 2rem;
    color: #FF6600;
    font-size: 20px;
}

.container-home .login p a{
    text-decoration: underline;
}

.container-home .login .logo{
    text-align: center;
    margin: 0 auto 3rem;
}

.container-home .login form{
    width: 100%;
}

.container-home .register input,
.container-home .register select{
    font-size: 11px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.grid .inputEntrar {
    grid-column: span 2 / span 2;
}

.grid label{
    margin-bottom: 0.6rem;
    display: block;
}