.container-main{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.container-main .sidebar{
    width: 20%;
}

.container-main .content{
    width: 80%;
    padding: 2rem 1rem;
}

@media(max-width:768px){
    .container-main{
        gap: 0;
    }
}