.quantidade{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantidade div{
    text-align: center;
}

.quantidade p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF6600;
    font-size: 4rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.quantidade span{
    color: #333;
}